@model IEnumerable<Simu.App.ViewModels.QuestaoViewModel>

@{
    ViewData["Title"] = "Questoes";
}

<h1>Provas</h1>

<div>
    <h4>Alternativas</h4>

</div>
<div>
    <tr>

        <td class="text-right">

            </a>            <a asp-action="ConcluirTarefa" class="btn btn-success" data-modal="" a>
                <span title="Concluir" class="fa fa-check"></span>
            </a>            <a asp-action="ConcluirTarefa" class="btn btn-success" data-modal="" a>
                <span title="Concluir" class="fa fa-check"></span>
            </a>            <a asp-action="ConcluirTarefa" class="btn btn-success" data-modal="" a>
                <span title="Concluir" class="fa fa-check"></span>
            </a>            <a asp-action="ConcluirTarefa" class="btn btn-success" data-modal="" a>
                <span title="Concluir" class="fa fa-check"></span>
            </a>            <a asp-action="ConcluirTarefa" class="btn btn-success" data-modal="" a>
                <span title="Concluir" class="fa fa-check"></span>
            </a>            <a asp-action="ConcluirTarefa" class="btn btn-success" data-modal="" a>
                <span title="Concluir" class="fa fa-check"></span>
            </a>            <a asp-action="ConcluirTarefa" class="btn btn-success" data-modal="" a>
                <span title="Concluir" class="fa fa-check"></span>
            </a>            <a asp-action="ConcluirTarefa" class="btn btn-success" data-modal="" a>
                <span title="Concluir" class="fa fa-check"></span>
            </a>            <a asp-action="ConcluirTarefa" class="btn btn-success" data-modal="" a>
                <span title="Concluir" class="fa fa-check"></span>
            </a>
        </td>
    </tr>
</div>
<br />
<br />
<br />
<div class="card">
    <div class="card-header">
        Enunciado
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Mussum Ipsum, cacilds vidis litro abertis. Leite de capivaris, leite de mula manquis sem cabeça. Diuretics paradis num copo é motivis de denguis. Suco de cevadiss deixa as pessoas mais interessantis. Quem num gosta di mim que vai caçá sua turmis!</p>
            <p>Mussum Ipsum, cacilds vidis litro abertis. Leite de capivaris, leite de mula manquis sem cabeça. Diuretics paradis num copo é motivis de denguis. Suco de cevadiss deixa as pessoas mais interessantis. Quem num gosta di mim que vai caçá sua turmis!</p>
        </blockquote>
    </div>
</div>
<br />

<div class="card" style="width: 18rem;">
    <div class="card-header">
        Alternativas
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">

            </label>Cras justo odio
        </li>
        <li class="list-group-item">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">

            </label>Dapibus ac facilisis in
        </li>
        <li class="list-group-item">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">

            </label>Vestibulum at eros
        </li>
        <li class="list-group-item">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">

            </label>Vestibulum at eros
        </li>
    </ul>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enunciado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resposta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Enunciado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resposta)
            </td>
            @*<td class="text-right">
                <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id">
                    <span title="Editar" class="fa fa-pencil-alt"></span>
                </a> |
                <a asp-action="Delete" class="btn btn-danger" data-modal="" asp-route-id="@item.Id">
                    <span title="Excluir" class="fa fa-trash"></span>
                </a> |
                <a asp-action="ConcluirTarefa" class="btn btn-success" data-modal="" asp-route-id="@item.Id">
                    <span title="Concluir" class="fa fa-check"></span>
                </a>
            </td>*@
        </tr>
        }
    </tbody>
</table>
@*<div class="form-group">

        <td>Alternativas</td>
        <br />
        <br />

    </div>

    <div class="form-check">

        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            A
        </label>

    </div>
    <div class="form-check">

        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            B
        </label>

    </div>
    <div class="form-check">

        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            C
        </label>

    </div>
    <div class="form-check">

        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            D
        </label>

    </div>*@


<br />
<br />

<div>

    <a asp-action="Index">Escolher outra prova</a>
</div>
