@model IEnumerable<Simu.App.ViewModels.QuestaoViewModel>
@{ ViewData["Title"] = "Questoes"; }

<div class="card">
    <div class="card-body">
        <h1>Simulado</h1>
        <h3>Exame Nacional para Ingresso na Pós-Graduação em Computação (POSCOMP)</h3>

        <br />
        <div class="alert alert-info" role="alert">
            <h3>Resultado:</h3>
            <h4>
                <a class="btn btn-success" a>
                    <span class="fa fa-check"></span>
                </a>
                Acertos - @TempData["Acertos"]
            </h4>
            <h4>
                <a class="btn btn-danger" a>
                    <span class="fa fa-circle-notch"></span>
                </a>
                Erros - @TempData["Erros"]
            </h4>
        </div>
    </div>
</div>

<br />
<br />

@foreach (var item in Model)
{
    <div class="container p-3 my-3 border">
        <div class="card-header">
            Questão  @Html.DisplayFor(modelItem => item.Numero)
        </div>
        <div class="container p-3 my-3 border">
            <blockquote class="blockquote mb-0">
                @Html.DisplayFor(modelItem => item.Enunciado)
            </blockquote>
        </div>
        <br />

        <div>

            <ul class="list-group list-group-flush">
                @if (item.Resposta == item.A && !item.Correta)
                {
                    <li class="list-group-item">
                        <input class="form-check-input" type="radio" name="radioA" value="@item.A" id="radio_a" disabled>
                        <label class="form-check-label alert alert-dark" for="radioA">
                            @Html.DisplayFor(modelItem => item.A)
                        </label>
                    </li>
                }
                else
                {
                    <li class="list-group-item">
                        <input class="form-check-input" type="radio" name="radioD" value="@item.A" id="radio_a" disabled>
                        <label class="form-check-label" for="radioA">
                            @Html.DisplayFor(modelItem => item.A)
                        </label>
                    </li>
                }
                @if (item.Resposta == item.B && !item.Correta)
                {
                    <li class="list-group-item">
                        <input class="form-check-input" type="radio" name="radioB" value="@item.B" id="radio_b" disabled>
                        <label class="form-check-label alert alert-dark" for="radioB">
                            @Html.DisplayFor(modelItem => item.B)
                        </label>
                    </li>
                }
                else
                {
                    <li class="list-group-item">
                        <input class="form-check-input" type="radio" name="radioB" value="@item.B" id="radio_b" disabled>
                        <label class="form-check-label" for="radioB">
                            @Html.DisplayFor(modelItem => item.B)
                        </label>
                    </li>
                }
                @if (item.Resposta == item.C && !item.Correta)
                {
                    <li class="list-group-item">
                        <input class="form-check-input" type="radio" name="radioC" value="@item.C" id="radio_c" disabled>
                        <label class="form-check-label alert alert-dark" for="radioC">
                            @Html.DisplayFor(modelItem => item.C)
                        </label>
                    </li>
                }
                else
                {
                    <li class="list-group-item">
                        <input class="form-check-input" type="radio" name="radioC" value="@item.C" id="radio_c" disabled>
                        <label class="form-check-label" for="radioC">
                            @Html.DisplayFor(modelItem => item.C)
                        </label>
                    </li>
                }
                @if (item.Resposta == item.D && !item.Correta)
                {
                    <li class="list-group-item">
                        <input class="form-check-input alert" type="radio" name="radioD" value="@item.D" id="radio_d" disabled>
                        <label class="form-check-label alert alert-dark" for="radioD">
                            @Html.DisplayFor(modelItem => item.D)
                        </label>
                    </li>
                }
                else
                {
                    <li class="list-group-item">
                        <input class="form-check-input" type="radio" name="radioD" value="@item.D" id="radio_d" disabled>
                        <label class="form-check-label" for="radioD">
                            @Html.DisplayFor(modelItem => item.D)
                        </label>
                    </li>
                }
                @if (item.Resposta == item.E && !item.Correta)
                {
                    <li class="list-group-item">
                        <input class="form-check-input" type="radio" name="radioA" value="@item.E" id="radio_e" disabled>
                        <label class="form-check-label alert alert-dark" for="radioE">
                            @Html.DisplayFor(modelItem => item.E)
                        </label>
                    </li>
                }
                else
                {
                    <li class="list-group-item">
                        <input class="form-check-input" type="radio" name="radioE" value="@item.E" id="radio_e" disabled>
                        <label class="form-check-label" for="radioE">
                            @Html.DisplayFor(modelItem => item.E)
                        </label>
                    </li>
                }
            </ul>
        </div>

        @if (!item.Correta)
        {
            <div class="alert alert-danger" role="alert" id="correta">
                <h5 class="alert-heading">Resposta incorreta.</h5>
            </div>
        }
        else
        {
            <div class="alert alert-success" role="alert" id="correta">
                <h5 class="alert-heading">Resposta correta!</h5>
                @Html.DisplayFor(modelItem => item.Resposta)
            </div>
        }

    </div>

}

<br />
<br />
<div>
    <input asp-action="Convert" asp-area="Provas" type="submit" value="Processar resultado" class="btn btn-success btn-lg" id="ddd" />
</div>
<div>

    <a asp-action="Index">Escolher outra prova</a>
</div>





