@model IEnumerable<Simu.App.ViewModels.TarefaViewModel>

@{
    ViewData["Title"] = "Provas";
}

<h1>@ViewData["Title"]</h1>
<br />
<br />
<vc:Summary></vc:Summary>


<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td class="text-right">
                <a asp-action="Detail" class="btn btn-info" data-modal="" asp-route-id="@item.Id">
                    <span title="Detail" class="fa fa-info-circle"></span>
                </a>

            </td>
        </tr>
        }
    </tbody>
</table>


<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            AjaxModal();
        });
    </script>
}
